<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New article</title>
  </head>

  <body>
    <h2>New Article</h2>

      <form action="/articles/new" method="post">
        <div>
          <label for="article">Enter title:</label>
          <input type="text" id="article" name="article">
        </div>
        <div>
          <label for="article_url">Enter URL:</label>
          <input type="url" id="article_url" name="article_url">
        </div>
        <div>
          <label for="article_description">Enter description:</label>
          <input type="text" id="article_description" name="article_description">
        </div>
        <div>
          <input type="submit">
        </div>
      </form>

  </body>
</html>
