<div class="row">
  <div class="medium-2 columns">
    <%= render "menu_list" %>
  </div>

  <div class="medium-10 columns">
        <% @movies.each do |movie| %>
          <%= render 'movies_list', :movie => movie %>    
        <% end %>
      <hr />
  </div>
</div>
