<h3>Articles</h3>
  <a href="/articles/new">Add new article</a>
  <ul>
    <%unless @articles.nil? %>
      <% @articles.each do |article| %>
            <li>

              <p><%= article["title"] %></p>
              <p>
                <a href="<%= article["url"] %>"><%= article["url"] %></a>
              </p>
              <p><%= article["description"] %></p>
            </li>

      <% end %>
    <% end %>
  </ul>
