<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>My Website</h1>
      </div>
    </div>
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Xyz</a></li>
          <li>
            <span class="show-for-sr">Current: </span> Features
          </li>
        </ul>
      </nav>
    <div class="text-center">
      <h1>Wow, what an awesome, page!</h1>
      <h3>Here are some reasons you should fill out our form:</h3>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="callout secondary">
          <h3>Reason #1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="text-center">
            <a href="#" class="button">Learn More</a>
          </div>
        </div>
      </div>

      <div class="small-12 medium-4 columns">
        <div class="callout secondary">
          <h3>Reason #1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="text-center">
            <a href="#" class="button">Learn More</a>
          </div>
        </div>
      </div>

      <div class="small-12 medium-4 columns">
        <div class="callout secondary">
          <h3>Reason #1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="text-center">
            <a href="#" class="button">Learn More</a>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <h3>Resources</h3>
        <ul class="menu vertical">
          <li><a href="#">a link</a></li>
          <li><a href="#">another link</a></li>
          <li><a href="#">wow links</a></li>
        </ul>
      </div>
      <div class="small-12 medium-8 columns">
        <h3>Now for the form:</h3>
      <form>
        <div class="row">
          <div class="medium-12 columns">
            <label>Name
              <input type="text">
            </label>
          </div>
        </div>
        <div class="row">
        <div class="medium-6 columns">
          <label>Favorite fruit
            <input type="text">
          </label>
        </div>
        <div class="medium-6 columns">
          <label>Least favorite cheese
            <input type="text">
          </label>
        </div>
      </div>
      <button class="secondary hollow button" href="#">Submit</button>

      </form>
    </div>

  </body>
</html>
